version: '3.3'

services:
  web:
    image: {{ CI_REGISTRY_IMAGE }}:{{ py_app }}_{{ CI_COMMIT_SHORT_SHA }}
    volumes:
      - ./django_blog:/django_blog
    command: sh -c '/tmp/django_blog/run.sh'
#    command: sh -c 'python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:80'
    networks:
      - my_network
    depends_on:
      - db
  db:
    image: postgres
    volumes:
      - ./postgres_data:/var/lib/postgres/data/
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - my_network
  nginx:
   image: {{ CI_REGISTRY_IMAGE }}:nginx
   volumes:
      - ./django_blog/config/nginx/:/etc/nginx/conf.d
      - ./django_blog:/static
   ports:
    - {{ port }}:80
   depends_on:
    - web
    - db
   networks:
     - my_network
networks:
 my_network:
  driver: bridge
volumes:
  postgres_data:

